.adhesive{
    padding-top: 60px;
    padding-bottom: 85px;
    background: #F7F8FA;
    @include media(768){
        padding-top: 30px;
        padding-bottom: 80px;
    }
    .breadcrumbs{
        padding-bottom: 35px;
        @include media(768){
            padding-bottom: 5px;
        }
        &__p{
            color: var(--black, #262626);
            font-size: 20px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            @include media(768){
                font-size: 16px;
            }
            @include media(575){
                font-size: 12px;
            }
            a{
                color: var(--black, #262626);
                font-size: 20px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                @include media(768){
                    font-size: 16px;
                }
                @include media(575){
                    font-size: 12px;
                }
            }
        }
        &__current{
            color: var(--green, #FF4B4B) !important;
        }
    }
    &__row{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 40px;
        @include media(768){
            flex-direction: column;
        }
    }
    &__slider{
        width: 100%;
        overflow: hidden;
        padding: 25px;
        width: calc(100% + 50px);
        margin-left: -25px;
        margin-right: -25px;
        max-width: 585px;
        @include media(575){
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            max-width: 400px;
            padding: 20px 0 20px 0;
        }
    }
    .swiper{
        width: 100%;
        position: relative;
        border-radius: 23px;
        &-wrapper{
            display: flex;
            width: max-content;
            align-items: stretch;
        }
        &-slide{
            height: 500px;
            border-radius: 23px;
            background: #fff;
            overflow: hidden;
            box-shadow: 0px 14px 23px 0px rgba(0, 0, 0, 0.05);
            @include media(992){
                height: 341px;
            }
            @include media(768){
                height: 450px;
            }
            @include media(575){
                background: transparent;
                box-shadow: none;
                width: max-content;
                height: 360px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            @include media(445){
                height: 280px;
            }
            &.adhesive-slide{
             .adhesive__img{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                }
                img{
                    width: 100%;
                    @include media(992){
                        max-height: 100%;
                        max-width: 100%;
                        width: 100%;
                    }
                    @include media(575){
                        max-width: 100%;
                        max-height: 100%;
                        width: 100%;
                        height: 100%;
                        border-radius: 23px;
                    }
                }
            }
            &.transparent-slide{
                background: #010202;
                @include media(575){
                    background: transparent
                }
            }
        }
    }
    &__img{
        width: 100%;
        max-width: 585px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(575){
            max-width: 360px;
        }
        @include media(445){
            max-width: 280px;
        }

        img{
            width: 500px;
            object-fit: cover;
            @include media(992){
                max-height: 90%;
                max-width: 90%;
                width: auto;
            }
            @include media(575){
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                height: 100%;
                border-radius: 23px;
            }
        }
    }
    &__right{
        padding-top: 25px;
        padding-left: 40px;
        @include media(768){
            padding-top: 0;
            margin-top: 15px;
            padding-left: 0;
        }
    }
    &__title{
        color: var(--black, #262626);
        font-size: 32px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 16px;
        @include media(992){
            font-size: 24px;
        }
        @include media(768){
            font-size: 18px;
        }
    }
    &__desc{
        color: var(--black, #262626);
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        margin-bottom: 60px;
        max-width: 595px;
        width: 100%;
        @include media(992){
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    &__btn{
        padding: 12px 12px 12px 32px;
        border-radius: 57px;
        background: var(--green, #FF4B4B);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        font-size: 16px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        transition: 300ms ease;
        @include media(575){
            width: 100%;
        }
        &:hover{
            background: #C12424;
        }
        img{
            margin-left: 20px;
        }
    }
    &__buttons{
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin-top: 20px;
    }
    &__btn{
        &-prev{
            cursor: pointer;
            width: 38px;
            height: 38px;
            border-radius: 5px;
            background: #FF4B4B;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 300ms ease;
            margin-right: 16px;
            img{
                transform: translateY(2px);
            }
            &:hover{
                background: #C12424;
            }
        }
        &-next{
            cursor: pointer;
            width: 38px;
            height: 38px;
            border-radius: 5px;
            background: #FF4B4B;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 300ms ease;
            img{
                transform: translateY(2px);
            }
            &:hover{
                background: #C12424;
            }
        }
    }
    &__info{
        &:not(:last-of-type){
            margin-bottom: 70px;
            @include media(768){
                margin-bottom: 60px;
            }
        }
    }
    &__subtitle{
        font-size: 30px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #262626;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;
        @include media(768){
            font-size: 18px;
            margin-bottom: 12px;
            padding-bottom: 12px;
        }
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background: #FF4B4B;
            width: 60px;
            height: 2px;
        }
        span{
            color: #FF4B4B;
            font-family: 'Montserrat';
        }
    }
    &__li{
        color: var(--black, #262626);
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        @include media(768){
            font-size: 14px;
        }
        svg{
            margin-right: 6px;
            @include media(768){
                margin-right: 4px;
            }
        }
        &:not(:last-of-type){
            margin-bottom: 10px;
        }
        &.enable-md{
            display: none;
            @include media(768){
                display: block;
            }
        }
    }
    &__p{
        color: var(--black, #262626);
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        margin-bottom: 16px;
        @include media(768){
            font-size: 14px;
        }
    }
    &__text{
        color: var(--black, #262626);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        max-width: 595px;
        width: 100%;
        margin-bottom: 16px;
        @include media(768){
            font-size: 14px;
        }
    }
    &__lists{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        @include media(359){
            flex-direction: column;
        }
    }
    &__list{
        max-width: 780px;
        width: 100%;
        &:not(:last-of-type){
            margin-right: 60px;
            @include media(768){
                margin-right: 24px;
            }
        }
        &.disable-md{
            @include media(768){
                display: none;
            }
        }
    }
}