.contacts{
    background: #F7F8FA;
    padding: 110px 0;
    @include media(992){
        padding: 80px 0;
    }
    &__body{
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.10);
        padding: 60px 23px 60px 40px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include media(1200){
            flex-direction: column;
        }
        @include media(768){
            padding: 60px 20px;
        }
    }
    &__info{
        margin-right: 44px;
        max-width: 390px;
        width: 100%;
        @include media(1200){
            max-width: 100%;
        }
    }
    &__p{
        font-size: 28px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: #262626;
        max-width: 390px;
        width: 100%;
        margin-bottom: 8px;
        padding-bottom: 8px;
        position: relative;
        @include media(1200){
            max-width: 100%;
        }
        @include media(768){
            font-size: 22px;
        }
        &::before{
            content: '';
            position: absolute;
            border-radius: 1px;
            background: var(--green, #FF4B4B);
            bottom: 0;
            left: 0;
            width: 60px;
            height: 2px;
        }
    }
    &__title{
        color: var(--green, #FF4B4B);
        font-size: 32px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @include media(1200){
            margin-bottom: 30px;
        }
        @include media(768){
            font-size: 28px;
        }
    }
    &__form{
        flex: 1 1 auto;
        @include media(1200){
            width: 100%;
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        @include media(1200){
            width: 100%;
        }
        @include media(768){
            flex-direction: column;
        }
    }
    &__left{
        @include media(768){
            margin-bottom: 20px;
        }
    }
    &__left, &__right{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: calc(50% - 15px);
        @include media(768){
            width: 100%;
        }
    }
    &__input{
        border-radius: 5px;
        border: 1px solid #D7D7D7;
        padding: 10px;
        color: #262626;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        &::placeholder{
            color: #989898;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 130%;
        }
        &:not(:last-of-type){
            margin-bottom: 20px;
        }
    }
    &__row{
        display: flex;
        align-items: center;
        @include media(575){
            flex-direction: column;
        }
    }
    &__btn{
        color: #FFF;
        font-size: 16px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 12px 12px 12px 32px;
        display: flex;
        align-items: center;
        border-radius: 57px;
        background: var(--green, #FF4B4B);
        margin-right: 25px;
        transition: 300ms ease;
        &:hover{
            background: #C12424;
        }
        @include media(575){
            width: 100%;
            justify-content: center;
            margin-bottom: 20px;
        }
        img{
            margin-left: 20px;
        }
    }
    &__checkbox{
        display: flex;
        align-items: center;
        &-input{
            margin-right: 6px;
            cursor: pointer;
            appearance: none;
            outline: 0;
            background: transparent;
            border-radius: 1px;
            border: 1px solid #D7D7D7;
            width: 12px;
            height: 12px;
            transition: 100ms;
            &:checked {
                border-radius: 1px;
                border: 1px solid #D7D7D7;
                background: url(../img/tick.svg) center / contain no-repeat;
            }
        }
    }
    &__label{
        cursor: pointer;
        color: #989898;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        max-width: 175px;
        width: 100%;
    }
}