mixin advantages()
    .advantages 
        .advantages__body.container 
            h2.advantages__title #[span Преимущества] работы с нами
            .advantages__content 
                .advantages__item 
                    .advantages__left 
                        p.advantages__subtitle Цены от производителя
                        p.advantages__desc Собственное производство позволяет реализовывать продукцию по самым выгодным ценам
                    .advantages__img 
                        img(src="@img/advantages-img-1.png", alt="" draggable="false")
                .advantages__item 
                    .advantages__left 
                        p.advantages__subtitle Наличие на складе
                        p.advantages__desc Парк высокоскоростного оборудования позволяет поддерживать стабильные темпы производства. Продукция на постоянной основе имеется в запасе на складе
                    .advantages__img 
                        img(src="@img/advantages-img-2.png", alt="" draggable="false")
                .advantages__item 
                    .advantages__left 
                        p.advantages__subtitle Доставка по РФ
                        p.advantages__desc По согласованию с клиентом возможна доставка продукции любым способом и транспортной компанией
                    .advantages__img 
                        img(src="@img/advantages-img-3.png", alt="" draggable="false")
                .advantages__item 
                    .advantages__left 
                        p.advantages__subtitle Скидки для постоянных оптовых клиентов
                        p.advantages__desc Прозрачная скидочные система предусмотрена для крупных оптовых клиентов, с которыми мы сотрудничаем на постоянной основе
                    .advantages__img 
                        img(src="@img/advantages-img-4.png", alt="" draggable="false")