mixin ask()
    .ask 
        .ask__body.container 
            .ask__left 
                h2.ask__title Популярные #[span вопросы]
                .ask__img 
                    img(src="@img/ask-img.png", alt="" draggable="false")
            .ask__right 
                .accordion 
                    button(type="button").accordion__button В какие сроки вы доставляете заказы?
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_117_467)">
                            <path d="M23 7L12 18L1 7" stroke="" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_117_467">
                            <rect width="24" height="24" fill="white" transform="translate(0 24) rotate(-90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content 
                        p.accordion__p Сроки зависят от выбранного способа доставки и места назначения. Обычно 1-2 дня. 
                .accordion 
                    button(type="button").accordion__button Вы работаете в выходные дни?
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_117_467)">
                            <path d="M23 7L12 18L1 7" stroke="" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_117_467">
                            <rect width="24" height="24" fill="white" transform="translate(0 24) rotate(-90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content 
                        p.accordion__p Нет. Мы обрабатываем заявки 5 дней в неделю. Работаем с 9:00 до 21:00.
                .accordion 
                    button(type="button").accordion__button Вы сможете нанести нужный нам рисунок, логотип или надпись на пакеты?
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_117_467)">
                            <path d="M23 7L12 18L1 7" stroke="" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_117_467">
                            <rect width="24" height="24" fill="white" transform="translate(0 24) rotate(-90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content 
                        p.accordion__p Нет, к сожалению, нанесение рисунков и логотипов на пакеты в рамках нашего производства невозможно.
                .accordion 
                    button(type="button").accordion__button Вы выдаёте сертификаты на продукцию?
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_117_467)">
                            <path d="M23 7L12 18L1 7" stroke="" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_117_467">
                            <rect width="24" height="24" fill="white" transform="translate(0 24) rotate(-90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content 
                        p.accordion__p Да. Наше производство сертифицировано. Сертификаты высылаются по запросу клиента.
                .accordion 
                    button(type="button").accordion__button Как быстро вы отправляете заказы?
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_117_467)">
                            <path d="M23 7L12 18L1 7" stroke="" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_117_467">
                            <rect width="24" height="24" fill="white" transform="translate(0 24) rotate(-90)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    .accordion__content 
                        p.accordion__p Отправка заказа осуществляется в течение 1-2 дней после 100% предоплаты.