mixin catalog()
    .catalog 
        .catalog__body.container 
            h2.catalog__title Каталог
            .catalog__content 
                .catalog__item 
                    p.catalog__subtitle Пакеты с клеевым клапаном
                    ul.catalog__list 
                        li.catalog__li Многоразового использования
                        li.catalog__li Красивый внешний вид
                        li.catalog__li Прочные пакеты
                        li.catalog__li Различной толщины от 20 мкм., и выше
                    