mixin reports()
    .reports 
        .reports__body.container 
            h2.reports__title #[span Фото и видео] отчеты
            .reports__slider 
                .reports__swiper.swiper 
                    .reports__swiper-wrapper.swiper-wrapper 
                        .reports__slide.swiper-slide 
                            .reports__content 
                                a(href="https://youtube.com").reports__video  
                                    .reports__video-img
                                        img(src="@img/reports-img-1.png", alt="" draggable="false")
                                    .reports__play 
                                        img(src="@img/play-btn.png", alt="" draggable="false")
                                .reports__right 
                                    .reports__top 
                                        .reports__img 
                                            img(src="@img/reports-img-2.png", alt="" draggable="false")
                                        .reports__img 
                                            img(src="@img/reports-img-3.png", alt="" draggable="false")
                                    .reports__bottom  
                                        .reports__img 
                                            img(src="@img/reports-img-4.png", alt="" draggable="false")
                                        .reports__img 
                                            img(src="@img/reports-img-5.png", alt="" draggable="false")
                        .reports__slide.swiper-slide 
                            .reports__content.second 
                                .reports__right 
                                    .reports__top 
                                        .reports__img 
                                            img(src="@img/reports-img-6.png", alt="" draggable="false")
                                        .reports__img 
                                            img(src="@img/reports-img-7.png", alt="" draggable="false")
                                    .reports__bottom  
                                        .reports__img 
                                            img(src="@img/reports-img-8.png", alt="" draggable="false")
                                        .reports__img 
                                            img(src="@img/reports-img-9.png", alt="" draggable="false")
                    .reports__buttons 
                        .reports__btn-prev.swiper-btn-prev
                            img(src="@img/arrow-prev.png", alt="" draggable="false")
                        .reports__btn-next.swiper-btn-next
                            img(src="@img/arrow-next.png", alt="" draggable="false")