mixin reviews()
    .reviews 
        .reviews__body.container 
            h2.reviews__title Отзывы
            .reviews__slider 
                .reviews__swiper.swiper 
                    .reviews__swiper-wrapper.swiper-wrapper 
                        .reviews__slide.swiper-slide 
                            .reviews__item 
                                p.reviews__name 
                                    <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.44 14.328C11.44 14.7583 12.22 15.4036 12.78 16.264C13.34 17.1245 13.62 18.1414 13.62 19.3147C13.62 20.9965 13.08 22.3654 12 23.4214C10.92 24.4383 9.54004 24.9467 7.86004 24.9467C6.18004 24.9467 4.78004 24.4187 3.66004 23.3627C2.58004 22.3067 2.04004 20.9574 2.04004 19.3147C2.04004 18.5325 2.14004 17.7503 2.34004 16.968C2.54004 16.1858 2.98004 15.0125 3.66004 13.448L7.14004 5.00003H13.08L10.44 14.328ZM24.6 14.328C25.6 14.7583 26.38 15.4036 26.94 16.264C27.5 17.1245 27.78 18.1414 27.78 19.3147C27.78 20.9965 27.24 22.3654 26.16 23.4214C25.08 24.4383 23.7 24.9467 22.02 24.9467C20.34 24.9467 18.94 24.4187 17.82 23.3627C16.74 22.3067 16.2 20.9574 16.2 19.3147C16.2 18.5325 16.3 17.7503 16.5 16.968C16.7 16.1858 17.14 15.0125 17.82 13.448L21.3 5.00003H27.24L24.6 14.328Z" fill="#FF4B4B"/>
                                    </svg>
                                    | Алексей А
                                p.reviews__desc Алексей А.Заказывали пакеты ПВД у Luxpacket. Компания производит качественные пакеты, которые устойчивы к нагрузке и обладают долгим сроком службы. Положительным моментом является широкий выбор размеров и видов пакетов для различных нужд. Цены также приемлемые. Большое спасибо, будем заказывать еще!
                        .reviews__slide.swiper-slide 
                            .reviews__item 
                                p.reviews__name 
                                    <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.44 14.328C11.44 14.7583 12.22 15.4036 12.78 16.264C13.34 17.1245 13.62 18.1414 13.62 19.3147C13.62 20.9965 13.08 22.3654 12 23.4214C10.92 24.4383 9.54004 24.9467 7.86004 24.9467C6.18004 24.9467 4.78004 24.4187 3.66004 23.3627C2.58004 22.3067 2.04004 20.9574 2.04004 19.3147C2.04004 18.5325 2.14004 17.7503 2.34004 16.968C2.54004 16.1858 2.98004 15.0125 3.66004 13.448L7.14004 5.00003H13.08L10.44 14.328ZM24.6 14.328C25.6 14.7583 26.38 15.4036 26.94 16.264C27.5 17.1245 27.78 18.1414 27.78 19.3147C27.78 20.9965 27.24 22.3654 26.16 23.4214C25.08 24.4383 23.7 24.9467 22.02 24.9467C20.34 24.9467 18.94 24.4187 17.82 23.3627C16.74 22.3067 16.2 20.9574 16.2 19.3147C16.2 18.5325 16.3 17.7503 16.5 16.968C16.7 16.1858 17.14 15.0125 17.82 13.448L21.3 5.00003H27.24L24.6 14.328Z" fill="#FF4B4B"/>
                                    </svg>
                                    | Саенко Анжела Владимировна
                                p.reviews__desc Я впервые заказала пакеты у Luxpacket и осталась довольна покупкой. Пакеты с клейкой лентой высокого качества, прочные и удобные в использовании. Доставка была быстрой и без проблем. Рекомендую данную компанию!
                        .reviews__slide.swiper-slide 
                            .reviews__item 
                                p.reviews__name 
                                    <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.44 14.328C11.44 14.7583 12.22 15.4036 12.78 16.264C13.34 17.1245 13.62 18.1414 13.62 19.3147C13.62 20.9965 13.08 22.3654 12 23.4214C10.92 24.4383 9.54004 24.9467 7.86004 24.9467C6.18004 24.9467 4.78004 24.4187 3.66004 23.3627C2.58004 22.3067 2.04004 20.9574 2.04004 19.3147C2.04004 18.5325 2.14004 17.7503 2.34004 16.968C2.54004 16.1858 2.98004 15.0125 3.66004 13.448L7.14004 5.00003H13.08L10.44 14.328ZM24.6 14.328C25.6 14.7583 26.38 15.4036 26.94 16.264C27.5 17.1245 27.78 18.1414 27.78 19.3147C27.78 20.9965 27.24 22.3654 26.16 23.4214C25.08 24.4383 23.7 24.9467 22.02 24.9467C20.34 24.9467 18.94 24.4187 17.82 23.3627C16.74 22.3067 16.2 20.9574 16.2 19.3147C16.2 18.5325 16.3 17.7503 16.5 16.968C16.7 16.1858 17.14 15.0125 17.82 13.448L21.3 5.00003H27.24L24.6 14.328Z" fill="#FF4B4B"/>
                                    </svg>
                                    | Юлия Овчинникова
                                p.reviews__desc Как человеку, который часто покупает продукты в супермаркетах, у меня всегда есть полиэтиленовые пакеты в доме. Я решила попробовать продукцию компании Luxpacket и могу с уверенностью сказать, что они предоставляют одни из лучших полиэтиленовых пакетов на рынке. Цена на продукцию Luxpacket очень разумная. #[span.text Я получаю высококачественные пакеты, которые долго служат, за очень адекватную цену. В общем и целом, я без колебаний рекомендую продукцию компании Luxpacket всем, кто ищет качественные, надежные и удобные полиэтиленовые пакеты.]
                                a(href="#!").reviews__link Читать полностью 
                        .reviews__slide.swiper-slide 
                            .reviews__item 
                                p.reviews__name 
                                    <svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.44 14.328C11.44 14.7583 12.22 15.4036 12.78 16.264C13.34 17.1245 13.62 18.1414 13.62 19.3147C13.62 20.9965 13.08 22.3654 12 23.4214C10.92 24.4383 9.54004 24.9467 7.86004 24.9467C6.18004 24.9467 4.78004 24.4187 3.66004 23.3627C2.58004 22.3067 2.04004 20.9574 2.04004 19.3147C2.04004 18.5325 2.14004 17.7503 2.34004 16.968C2.54004 16.1858 2.98004 15.0125 3.66004 13.448L7.14004 5.00003H13.08L10.44 14.328ZM24.6 14.328C25.6 14.7583 26.38 15.4036 26.94 16.264C27.5 17.1245 27.78 18.1414 27.78 19.3147C27.78 20.9965 27.24 22.3654 26.16 23.4214C25.08 24.4383 23.7 24.9467 22.02 24.9467C20.34 24.9467 18.94 24.4187 17.82 23.3627C16.74 22.3067 16.2 20.9574 16.2 19.3147C16.2 18.5325 16.3 17.7503 16.5 16.968C16.7 16.1858 17.14 15.0125 17.82 13.448L21.3 5.00003H27.24L24.6 14.328Z" fill="#FF4B4B"/>
                                    </svg>
                                    | ИП Боков В.Е.
                                p.reviews__desc Я доволен качеством полиэтиленовых пакетов компании Luxpacket. Они прочные и не протекают, а к тому же имеют удобные ручки. Цена также приемлемая. В общем, рекомендую эти пакеты для использования в повседневной жизни.
                    .reviews__buttons 
                        .reviews__btn-prev.swiper-btn-prev
                            img(src="@img/arrow-prev.png", alt="" draggable="false")
                        .reviews__btn-next.swiper-btn-next
                            img(src="@img/arrow-next.png", alt="" draggable="false")