mixin work()
    .work 
        .work__body.container 
            h2.work__title #[span Как] мы работаем?
            .work__content
                .work__item
                    .work__top 
                        .work__img 
                            img(src="@img/work-1.png", alt="" draggable="false")
                        p.work__subtitle Расчет стоимости
                    p.work__num 01
                .work__item
                    .work__top  
                        .work__img 
                            img(src="@img/work-2.png", alt="" draggable="false")
                        p.work__subtitle Оформление заказа
                    p.work__num 02
                .work__item
                    .work__top  
                        .work__img 
                            img(src="@img/work-3.png", alt="" draggable="false")
                        p.work__subtitle Согласование макета
                    p.work__num 03
                .work__item 
                    .work__top 
                        .work__img 
                            img(src="@img/work-4.png", alt="" draggable="false")
                        p.work__subtitle Запуск производства
                    p.work__num 04
                .work__item 
                    .work__top 
                        .work__img 
                            img(src="@img/work-5.png", alt="" draggable="false")
                        p.work__subtitle Сдача продукта
                    p.work__num 05