// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Rubik', sans-serif;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
}
body{
    position: relative;
    overflow-x: hidden;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(38, 38, 38, 0.50);
        opacity: 0;
        visibility: hidden;
    }
    &.hidden{
        overflow-y: hidden;
        &::before{
            opacity: 1;
            visibility: visible;
        }
    }
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}